.game-wrapper {
  height: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
